@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Caveat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-cursive: "Caveat", cursive;
  --font-serif: "Playfair Display", serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: #090a0a;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}
